# ODK Central Configuration
ODK_SERVER_URL=https://votre-serveur-odk.com
ODK_EMAIL=votre-email@example.com
ODK_PASSWORD=votre-mot-de-passe
ODK_PROJECT_ID=1
ODK_FORM_ID=Formulaire_evaluation_epvg_phase2

# Credentials Application
APP_USER=admin
APP_PASSWORD=admin
